[Unit]
Description=Clash daemon
Wants=iwd.service
After=iwd.service


[Service]
Type=simple
EnvironmentFile=%h/.config/.clash_subscription
Environment=CONFIG_YAML="%h/.config/clash/config.yaml"
ExecStartPre=-/bin/curl ${SUBSCRIPTION} -o ${CONFIG_YAML}
ExecStart=/usr/bin/clash
Restart=on-abort

StandardOutput=null
StandardError=journal


[Install]
WantedBy=default.target multi-user.target
