[Unit]
Description=Clash autostarter
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/clash
Restart=on-abort

[Install]
WantedBy=multi-user.target
