KERNEL=="sd*", ACTION=="add", ATTR{removable}=="1", \
    RUN+="/home/peviroy/.config/polybar/scripts/system-usb-udev.sh --update"
KERNEL=="sd*", ACTION=="remove", \
    RUN+="/home/peviroy/.config/polybar/scripts/system-usb-udev.sh --update"
