[Desktop Entry]
Name=Neovim-hackfont
GenericName=Text Editor
GenericName[de]=Texteditor
Comment=Edit text files

Exec=st -f "Hack Nerd Font Mono:pixelsize=28:antialias=true:autohint=true" -e "nvim"
Terminal=false

Icon=nvim

Keywords=Text;editor;
Type=Application
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
